.if-section{
  background-color: black;
  margin: 50px;
  width: 1500px;
  height: 1450px;
}


#if{

  margin-bottom: -200px;
  margin-left: -50px;
  width: 1200px;
  }

.white-text{
  color: white;
  font-size: 30pt;
  position: relative;
  top: -500px;
  left: 800px;
}

.orange-text{
  color: #f45721;
  font-size: 30pt;
  position:relative;
  bottom: -75px;
}

#adobe{
  width:600px;
  height:400px;
  position: relative;
  right: -1000px;
  top: -270px
}

#website{
  color: #8c8380;
  font-size: 22pt;
  position: relative;
  top: -400px;
  right: -300px;

}
.text{
  font-size: 18pt;
  width: 500px;
  position: relative;
  top: -400px;
}

.hr{
  width:1500px;
}
